@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance { text-wrap: balance; }
}

@layer base {
  :root {
    --background: 38 84% 97%;
    --foreground: 28 40% 39%;
    --card: 38 84% 97%;
    --card-foreground: 28 40% 39%;
    --popover: 38 84% 97%;
    --popover-foreground: 28 40% 39%;
    --primary: 26 100% 65%;
    --primary-foreground: 38 84% 97%;
    --secondary: 88 30% 70%;
    --secondary-foreground: 28 40% 39%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 28 40% 39%;
    --accent: 189 55% 60%;
    --accent-foreground: 38 84% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 88 30% 70%;
    --input: 28 40% 39%;
    --ring: 26 100% 65%;
    --chart-1: 43 89% 70%;
    --chart-2: 180 65% 45%;
    --chart-3: 150 60% 45%;
    --chart-4: 28 85% 65%;
    --chart-5: 22 85% 55%;
    --radius: 0.5rem;
    --sidebar-background: 45 100% 98%;
    --sidebar-foreground: 25 50% 15%;
    --sidebar-primary: 35 95% 55%;
    --sidebar-primary-foreground: 45 100% 98%;
    --sidebar-accent: 42 88% 75%;
    --sidebar-accent-foreground: 25 50% 15%;
    --sidebar-border: 42 50% 85%;
    --sidebar-ring: 35 95% 55%;
  }
  .dark {
    --background: 28 40% 20%;
    --foreground: 38 84% 97%;
    --card: 28 40% 20%;
    --card-foreground: 38 84% 97%;
    --popover: 28 40% 20%;
    --popover-foreground: 38 84% 97%;
    --primary: 26 100% 55%;
    --primary-foreground: 38 84% 97%;
    --secondary: 88 25% 40%;
    --secondary-foreground: 38 84% 97%;
    --muted: 28 40% 15%;
    --muted-foreground: 38 70% 90%;
    --accent: 189 55% 40%;
    --accent-foreground: 38 84% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 40% 30%;
    --input: 28 40% 30%;
    --ring: 26 100% 55%;
    --chart-1: 43 89% 70%;
    --chart-2: 180 65% 45%;
    --chart-3: 150 60% 45%;
    --chart-4: 28 85% 65%;
    --chart-5: 22 85% 55%;
    --sidebar-background: 25 30% 8%;
    --sidebar-foreground: 48 85% 95%;
    --sidebar-primary: 35 95% 65%;
    --sidebar-primary-foreground: 25 30% 8%;
    --sidebar-accent: 42 88% 65%;
    --sidebar-accent-foreground: 25 30% 8%;
    --sidebar-border: 25 20% 20%;
    --sidebar-ring: 35 95% 65%;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}